.button {
	width: 60px;
	height: 65px;
	background-color: green;
}

.button1 {
	width: 60px;
	height: 65px;
	position: relative;
	left: 20px;
	background-color: orangered;
}

h1 {
	color: white;
}


body {
	background-color: darkgray;
}